
<app-friendlist (friendEvent)="getFriends($event)"></app-friendlist>


<div class="sidenav">

  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let user of friendsList"  (click)="select(user)">

      <button class="btn btn-info marginButton" (click)="connect(user.id)">{{user.email}}</button>
    </li>

  </ul>
</div>

<video class="main" #myvideo></video>

<!--<div *ngIf="peer">-->
 <!--<app-canvas [peer] = "peer"></app-canvas>-->
<!--</div>-->
<app-friend  *ngIf="selectedFriend" [friend] = "selectedFriend"></app-friend>

